@use '../../ui/styles/mixins.scss' as mixins;

.feature-list {
    .info-section {
        @include mixins.container(center);
        align-items: flex-end;

        margin-bottom: 5rem;
        width: 100%;

        .info-grid {
            margin: 0 2rem;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            font-size: 1.35rem;
            font-weight: 600;
            color: #6B7280;
            max-width: 64rem;
            font-size: large;

            .p {
                font-weight: 600;
                color: #6B7280;
            }

            .p span {
                color: #1F2937;
            }

            .p span.secondary {
                color: #6B7280;
            }
        }
    }
}