<main>
    <div class="content-wrapper">
        <div class="video-button">
            <svg class="w-4 h-4 xs:w-5 xs:h-5" fill="none" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-labelledby="video-icon-title">
                <title id="video-icon-title">Play launch video</title>
                <path
                    d="M14.979 9.06 8.197 4.82a1.11 1.11 0 0 0-1.697.941v8.477c0 .87.959 1.402 1.697.94l6.78-4.239a1.107 1.107 0 0 0 .002-1.88"
                    fill="currentColor"></path>
            </svg>
            <span>See the launch video</span>
        </div>
        <h1 class="main-title">Go beyond your<br />mind’s limitations</h1>
        <div style="opacity: 1;" class="tracking-tight">
            <h2 class="sub-title">Personalized AI powered by what<br />you’ve seen, said, and heard.</h2>
        </div>
        <button class="cta-button" aria-label="Get started for free">Get started for free</button>

        <app-slide-cards-container></app-slide-cards-container>

        <app-feature-list></app-feature-list>
        
        <app-pricing-card-list></app-pricing-card-list>

        <app-security-feature-container></app-security-feature-container>
    </div>
</main>