@mixin container($justify: start) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}


@mixin container-gap($gap: 0) {
  @include container;
  gap: $gap;
}

@function px-to-rem($px, $base: 16) {
  @return $px / $base * 1rem;
}