<div class="pricing-card">
    <p class="pricing-card__highlight">{{highlight}}</p>
    <h2 class="pricing-card__subscription">{{subscription}}</h2>
    <p class="pricing-card__minutes">{{minutes}} <i class="fas fa-info-circle info-icon"></i></p>
    <div class="price-container">
        <div class="price">${{price}}</div>
        <div class="price__details">{{priceDetails}}</div>
    </div>
    <button class="highlight-button">{{buttonText}}</button>
    <p class="pricing-card__users">{{bestUsers}}</p>
</div>