@use '../../ui/styles/variables.scss' as variables;
@use '../../ui/styles/mixins.scss' as mixins;

.header {
  @include mixins.container(space-between);
  padding: 25px;
  width: 1368px;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;

  &__actions {
    @include mixins.container-gap(30px);
  }
  
  &__link {
    color: #000;
    text-decoration: none;
    font-weight: 600;
  }
  
  &__button {
    color: #FFF;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
}
