.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    gap: 1.5rem; /* Espaciado entre columnas y filas */
}